<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>여행 예약하기</title>
</head>
<body>
<div layout:fragment="content">
    <div class="reserve_wrap">
        <div class="center-box flex">
            <img th:src="${trip.imageUrl}" alt="${trip.title}">
            <div class="reserve_cont">
                <h2 th:text="${trip.title}"></h2>
                <p th:text="${trip.tag}"></p>
                <div class="flex" style="width: 138px;">
                    <p>항공여정 : </p>
                    <p th:text="${trip.air}"></p>
                </div>
                <div class="flex" style="width: 230px;">
                    <p>여행기간 : </p>
                    <p th:text="${trip.startDate}"></p>
                    <p th:text="${trip.plan}"></p>
                </div>
                <div class="flex" style="width: 109px;">
                    <p>예약인원 : </p>
                    <p th:text="${trip.personnel}"></p>
                </div>
                <!--<p th:text="${#numbers.formatInteger(trip.price, 3, 'COMMA') + '원'}" id="price"></p>-->
                <p th:text="${trip.price + '원'}" id="price"></p>

                <form th:action="@{|/reservation/reserve/${trip.id}|}" method="post">
                    <input type="hidden" name="startDate" th:value="${trip.startDate}">
                    <input type="hidden" name="totalPrice" id="totalPriceInput">

                    <label for="numPeople">인원 수 : </label>
                    <input type="number" id="numPeople" name="numPeople" min="1" required>
                    <p>총 금액 : <span id="totalPrice" name="totalPrice"
                                    th:text="${#numbers.formatInteger(trip.price, 3, 'COMMA')}"></span>원</p>

                    <button type="submit" class="btn btn-info">예약하기</button>

                </form>
            </div>
        </div>
    </div><!-- reserve_wrap -->
</div>

<script layout:fragment="script" type="text/javascript">
    //문서에서 아이디가 price인 요소를 가져와서 "원"글자를 없애고, 계산가능한 형식으로 변환하여 price변수에 저장
    const price = parseFloat(document.getElementById("price").textContent.replace("원", ""));

    //문서에서 아이디가 numPeople인 요소를 가져와서 numPeopleInput변수에 저장
    const numPeopleInput = document.getElementById("numPeople");

    //문서에서 아이디가 totalPrice인 요소를 가져와서 totalPriceElement변수에 저장
    const totalPriceElement = document.getElementById("totalPrice");

    //문서에서 아이디가 totalPriceInput인 요소를 가져와서 totalPriceInput변수에 저장
    const totalPriceInput = document.getElementById("totalPriceInput");

    //여행에 참여하는 인원수가 입력되면 인원수 * 가격 => 총금액 계산
    numPeopleInput.addEventListener("input", () => {
        //인원수는 정수형으로 변환하거나 0으로 초기화
        const numPeople = parseInt(numPeopleInput.value) || 0;
        //가격 * 인원수 => 총금액 계산
        const totalPrice = price * numPeople;
        //계산된 총금액을 문자열로 변환하여 totalPriceElement영역에 글자로 입력
        totalPriceElement.textContent = totalPrice.toLocaleString();
        //총금액을 totalPriceInput영역에 글자로 표시
        totalPriceInput.value = totalPrice;
    });
</script>
</body>
</html>