<!DOCTYPE html>
<html layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공지사항</title>
</head>
<body>
<div layout:fragment="content">
    <div class="center-box">
        <h2 style="text-align: center;">공지사항</h2>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>등록일</th>
                <th>수정일</th>
                <th>조회수</th>
                <th>작성자</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boardList}">
                <td th:text="${board.id}"></td>
                <td>
                    <a th:href="@{|/board/detail/${board.id}|}" th:text="${board.title}"></a>
                </td>
                <td th:text="${board.createdAt}"></td>
                <td th:text="${board.modifyAt}"></td>
                <td th:text="${board.count}"></td>
                <td th:text="${board.username}"></td>
            </tr>
            <tr>
                <td colspan="6" class="text-center">
                    <a th:href="@{/board/write}" class="btn btn-outline-primary">글쓰기</a>
                    <a th:href="@{/}" class="btn btn-outline-secondary">홈으로</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>