<!DOCTYPE html>
<html layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
<div class="wrap" layout:fragment="content">
    <div class="center-box">
        <div class="register_html">
            <h2>로그인</h2>
            <form id="loginForm" method="post" th:action="@{/member/login}">
                <table>
                    <tr>
                        <td>아이디</td>
                        <td>
                            <input id="username" name="username" type="text">
                            <div class="text-danger h6" id="usernameError"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>비밀번호</td>
                        <td>
                            <input id="password" name="password" type="password">
                            <div class="text-danger h6" id="passwordError"></div>
                            <div class="flex">
                                <a class="font_13" th:href="@{/member/find_id}">아이디 찾기</a>
                                <a class="font_13" th:href="@{/member/reset_pass}">비밀번호를 잊으셨나요?</a>
                            </div>
                        </td>
                    </tr>
                    <tr class="mgt_30">
                        <td class="text-center d-grid gap-2" colspan="2">
                            <button class="btn btn-primary" onclick="valfn()" type="button">로그인</button>
                            <button class="btn btn-primary" onclick="location.href='/member/register'" type="button">
                                회원가입
                            </button>
                        </td>
                    </tr>
                </table>
            </form>
        </div><!-- register_html -->
    </div>
</div>
<script layout:fragment="script" type="text/javascript">
    function valfn(){
        let form = $("#loginForm");
        let username = $("#username").val();
        let password = $("#password").val();
        //오류 메시지 표시하는 영역 초기화
        $("#username").text("");
        $("#password").text("");
        //만약 username이 true가 아니면 에러 메시지 표시
        if(!username){
            $("#usernameError").text("사용자 아이디를 입력해 주세요.");
            return false;
        }
        //만약 password가 true가 아니면 에러 메시지 표시
        if(!password){
            $("#passwordError").text("비밀번호를 입력해 주세요.");
            return false;
        }
        //AJAX로 서버에 아이디 존재 여부 확인 요청
        $.ajax({
            url:'/member/username_exists',
            type:'get',
            data: { username:username },
            success:function(response){
                if(!response){
                    alert("일치하는 사용자 정보가 없습니다.");
                }else{
                    form.submit();
                }
            },
            error:function(){
                alert("서버 오류가 발생했습니다. 다시 시도해 주세요.");
            }
        });
    }
</script>
</body>
</html>