<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="">
<head>
    <meta charset="UTF-8">
    <title>리버투어</title>
    <link rel="shortcut icon" th:href="@{/img/favicon.png}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/swiper-bundle.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/reservation.css}">
    <link rel="stylesheet" th:href="@{/css/goods.css}">
    <link rel="stylesheet" th:href="@{/css/member.css}">
    <link rel="stylesheet" th:href="@{/css/sub.css}">

    <script th:src="@{/js/jquery-3.7.1.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/swiper-bundle.min.js}"></script>
    <script th:src="@{/js/script.js}"></script>
</head>
<body>
<div th:replace="~{header::header}"></div>
<div layout:fragment="content" class="content"></div>
<div th:replace="~{footer::footer}"></div>

<th:block layout:fragment="script"></th:block>
</body>
</html>